# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.pyc
.pytest_cache/
.pyre/
.python-version
venv/
output/
icons/
Esp32_deck_config.json
Esp32_deck.log
env/
ENV/
.venv/
*.env

# Editor directories and files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# PlatformIO / ESP32 build artifacts
.pio/
.pioenvs/
build/
*.bin
*.elf
*.hex
*.map
*.o

# Misc
.DS_Store
Thumbs.db
Esp32_deck_config.json
Esp32_deck.log
output/Esp32_deck_config.json
output/Esp32_deck.log
